{% extends './navbar.html' %}
{% block content %}

<h1>Hello!</h1>

{% include './elements/index/searchbar.html' %}

{% if IngredientList.count > 0 %}
    {% include './elements/index/ingredient_selected.html' with IngredientAmount=IngredientList.count %}
    <div class="row">
        <div class="col">
            {% include './elements/index/ingredient_list.html' with IngredientList=IngredientList %}
        </div>
    </div>
{% else %}
    {% include './elements/uh_oh.html' with header='No ingredients in the database!' message='Come back later.' %}
{% endif %}

{% endblock %}