<!-- API reminder -->
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4 class="alert-heading">Important notice!</h4>
    <p class="mb-0">FoodSearcher uses <b><a href="https://spoonacular.com/food-api" target="_blank">Spoonacular</a></b> API.
        There might be potential inaccuracies with estimated costs and nutritional information.
        Any information formatting issues aren't on FoodSearcher's part.
        It's always good to check the recipe's original source if it ever happens.
    </p>
</div>