{% load humanize %}

<h1>Nutrition facts</h1>

<!-- Nutrition facts -->
<div class="bs-component">
    <!-- Nutrient nav -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#nutrients"><i class="fas fa-seedling"></i> Nutrients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#breakdown"><i class="fas fa-chart-bar"></i> Caloric
                breakdown</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#weight"><i class="fas fa-balance-scale"></i> Weight per serving</a>
        </li>
    </ul>

    <!-- Nutrient tab -->
    <div class="tab-content" id="nutrientTab">
        <div class="tab-pane fade show active" id="nutrients">
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Daily needs</th>
                    </tr>
                </thead>
                <tbody>
                    {% for info in nutrition.nutrients %}
                        <tr class="{% if forloop.counter|divisibleby:2 %}table-light{% endif %}">
                            <th scope="row">{{info.name}}</th>
                            <td>{{info.amount|intcomma}} {{info.unit}}</td>
                            <td>{{info.percentOfDailyNeeds}}%</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane fade" id="breakdown">
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar"
                     style="width:{{JSON_Information.nutrition.caloricBreakdown.percentProtein}}%"></div>
                <div class="progress-bar bg-warning" role="progressbar"
                     style="width:{{JSON_Information.nutrition.caloricBreakdown.percentFat}}%"></div>
                <div class="progress-bar bg-danger" role="progressbar"
                     style="width:{{JSON_Information.nutrition.caloricBreakdown.percentCarbs}}%"></div>
            </div>
            <p><span class="text-success"><i class="fas fa-circle"></i></span> <b>Protein</b> -
                {{nutrition.caloricBreakdown.percentProtein}}%</p>
            <p><span class="text-warning"><i class="fas fa-circle"></i></span> <b>Fat</b> -
                {{nutrition.caloricBreakdown.percentFat}}%</p>
            <p><span class="text-danger"><i class="fas fa-circle"></i></span> <b>Carbohydrates</b> -
                {{nutrition.caloricBreakdown.percentCarbs}}%</p>
        </div>

        <div class="tab-pane fade" id="weight">
            <p>
                Controlling food portions can help your weight and health management plan.
                Weight per serving for this dish is estimated to be <b>{{nutrition.weightPerServing.amount|intcomma}} {{nutrition.weightPerServing.unit}}</b>.
            </p>
        </div>
    </div>

</div>